<TITLE>GMA Currency Roll</TITLE>

<A HREF=/><IMG align=right border=0 src=/logo.gif></A>
<H1 ALIGN="CENTER"> GMA Currency Roll </H1>
<H2 ALIGN="LEFT"> Run this a few days before the end of the quarter </H2>

<form method="POST" action="curroll2.cgi">
Password:  <input type=password name=pwd size=3> &nbsp
NewExpiry <em>(e.g. 123010)</em>: <input name=expy> &nbsp
<input type=submit value="Go!">
</form>

<HR><EM> David E. Brahm
(<A HREF="mailto:David.Brahm@geodecapital.com"> David.Brahm@geodecapital.com </A>)
&nbsp Last update 9/23/10
