<TITLE>GMA Currency Spot Cleanup</TITLE>

<A HREF=/><IMG align=right border=0 src=/logo.gif></A>
<H1 ALIGN="CENTER"> GMA Currency Spot Cleanup </H1>
<H2 ALIGN="LEFT"> Run this after the end of the quarter to eliminate spot positions</H2>

<form method="POST" action="nospot2.cgi">
Password:  <input type=password name=pwd size=3> &nbsp
<input type=submit value="Go!">
</form>

<HR><EM> David E. Brahm
(<A HREF="mailto:David.Brahm@geodecapital.com"> David.Brahm@geodecapital.com </A>)
&nbsp Last update 1/6/11
